<a [routerLink]="['/record', record.id]" [title]="record.title">
    <img [src]="record.image" [attr.width]="width"  class="rounded">
    <div class="text-truncate font-weight-bold text-dark">{{record.title}}</div>
</a>
<a [routerLink]="['/artist', record.artist.id]">
    <div class="text-truncate font-weight-normal text-dark" [title]="record.artist.name">{{record.artist.name}}</div>
</a>
<a [routerLink]="['/label', record.label.id]">
    <div class="text-truncate font-italic text-dark" [title]="record.label.name">{{record.label.name}}</div>
</a>
<app-add-to-cart [record]="record"></app-add-to-cart>