<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase">Sign In</h5>
                <hr>
                <button class="btn btn-lg btn-google btn-dark btn-block text-uppercase" type="submit"
                    (click)="signInWithGoogle()"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
            </div>
        </div>
    </div>
</div>