<div *ngIf="newsfeed">

    <div *ngIf="isAuthenticated" class="card">
        <div class="card-header h3">
            Recommended for you
        </div>
        <div class="card-body row">
            <div *ngFor="let record of newsfeed.recommended" class="col-md-2" alt="asdad">
                <img [src]="record.image" width="150px" height="150px">
                <div class="text-truncate font-weight-bold">{{record.title}}</div>
                <div class="text-truncate font-weight-normal">{{record.artist.name}}</div>
                <div class="text-truncate font-italic">{{record.label.name}}</div>
                <app-add-to-cart [record]="record"></app-add-to-cart>
            </div>
        </div>
    </div>
    <br *ngIf="isAuthenticated">

    <div class="card">
        <div class="card-header h3">
            Most popular
        </div>
        <div class="card-body row">
            <div *ngFor="let record of newsfeed.mostPopular" class="col-md-2" alt="asdad">
                <img [src]="record.image" width="150px" height="150px">
                <div class="text-truncate font-weight-bold">{{record.title}}</div>
                <div class="text-truncate font-weight-normal">{{record.artist.name}}</div>
                <div class="text-truncate font-italic">{{record.label.name}}</div>
                <app-add-to-cart [record]="record"></app-add-to-cart>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header h3">
            New arrivals
        </div>
        <div class="card-body row">
            <div *ngFor="let record of newsfeed.newest" class="col-md-2" alt="asdad">
                <img [src]="record.image" width="150px" height="150px">
                <div class="text-truncate font-weight-bold">{{record.title}}</div>
                <div class="text-truncate font-weight-normal">{{record.artist.name}}</div>
                <div class="text-truncate font-italic">{{record.label.name}}</div>
                <app-add-to-cart [record]="record"></app-add-to-cart>
            </div>
        </div>
    </div>
</div>