<div *ngIf="newsfeed">

    <div *ngIf="isAuthenticated" class="card">
        <div class="card-header h3">
            Recommended for you
        </div>
        <div class="card-body row">
            <div *ngFor="let record of newsfeed.recommended" class="col-md-2" alt="asdad">
                <app-record [record]="record" [size]="'160px'"></app-record>
            </div>
        </div>
    </div>
    <br *ngIf="isAuthenticated">

    <div class="card">
        <div class="card-header h3">
            Most popular
        </div>
        <div class="card-body row">
            <div *ngFor="let record of newsfeed.mostPopular" class="col-md-2">
                <app-record [record]="record" [size]="'160px'"></app-record>
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-header h3">
            New arrivals
        </div>
        <div class="card-body row">
            <div *ngFor="let record of newsfeed.newest" class="col-md-2" alt="asdad">
                <app-record [record]="record" [size]="'160px'"></app-record>
            </div>
        </div>
    </div>
</div>