
  <ngb-tabset justify="justified">

    <ngb-tab class="text-secondary">
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Wishlist</span></ng-template>
      <ng-template ngbTabContent>
        <br>
        <app-wishlist></app-wishlist>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Followed artists</span></ng-template>
      <ng-template ngbTabContent>
        <br>
        <app-followed-artists></app-followed-artists>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Followed labels</span></ng-template>
      <ng-template ngbTabContent>
        <br>
        <app-followed-labels></app-followed-labels>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Orders</span></ng-template>
      <ng-template ngbTabContent>
        <br>
        <app-all-orders></app-all-orders>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Addresses</span></ng-template>
      <ng-template ngbTabContent>
        <br>
        <app-addresses></app-addresses>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>