<br>
<div class="container md-4 card text-uppercase">
  <ngb-tabset justify="justified">

    <ngb-tab class="text-secondary">
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Wishlist</span></ng-template>
      <ng-template ngbTabContent>
        asd
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Followed artists</span></ng-template>
      <ng-template ngbTabContent>
        asd
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Followed labels</span></ng-template>
      <ng-template ngbTabContent>
        asd
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Orders</span></ng-template>
      <ng-template ngbTabContent>
        <br>
        <app-all-orders></app-all-orders>
        <br>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-title text-secondary">Addresses</span></ng-template>
      <ng-template ngbTabContent>
        asd
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>