<div class="col">
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dark text-uppercase" id="dropdownForm1" ngbDropdownToggle><i
                class="fas fa-shopping-cart"></i> Total: ${{totalPrice.toFixed(2)}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
            <div *ngIf="!items || items.length === 0">
                CART IS EMPTY!
            </div>
            <div *ngIf="items && items.length>0" class="container mb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"> </th>
                                        <th scope="col">Record&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity&nbsp;&nbsp;&nbsp;</th>
                                        <th scope="col" class="text-right">Total</th>
                                        <th scope="col"> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of items, let i = index">
                                        <td><img [src]="item.image" width="40px" height="40px"  class="rounded" /> </td>
                                        <td class="text-truncate" [title]="item.title">{{ (item.title.length>20)? (item.title | slice:0:20)+'..':(item.title) }}</td>
                                        <td>${{item.price.toFixed(2)}}</td>
                                        <td>
                                            <button class="btn btn-sm"><i class="fa fa-minus" aria-hidden="true"
                                                    (click)="decreaseQuantity(i)"></i></button>{{item.quantity}}<button
                                                class="btn btn-sm"><i class="fa fa-plus" aria-hidden="true"
                                                    (click)="increaseQuantity(i)"></i></button>
                                        </td>
                                        <td class="text-right">${{(item.price * item.quantity || 0).toFixed(2)}}
                                        </td>
                                        <td class="text-right"><button class="btn btn-sm btn-dark"
                                                (click)="removeFromCart(i)"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <h4><strong>TOTAL</strong></h4>
                                        </td>
                                        <td class="text-right">
                                            <h4><strong>${{totalPrice.toFixed(2)}}</strong></h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mx-auto">
                                <button class="btn btn-lg btn-block btn-dark" (click)="checkout()">CHECKOUT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>