<div class="row" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="30" (scrolled)="onScroll()">
    <div *ngFor="let label of followedLabels; let i=index" class="col-md-2">
        <a [routerLink]="['/label', label.id]" [title]="label.name">
            <img [src]="label.image" height="160px" width="160px" class="rounded" style="object-fit: cover;">
            <div class="text-truncate text-dark font-weight-bold">{{label.name}}</div>
        </a>
        <td><button class="btn btn-dark" (click)="unfollow(i)">Unfollow</button></td>
        <br>
    </div>
</div>