<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button class="btn btn-dark navbar-brand text-uppercase" [routerLink]="['/']">Simple Music Store</button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn btn-dark text-uppercase" [routerLink]="['/browse']">Browse</button>
            </li>
            <li *ngIf="isAdmin" class="nav-item">
                <button class="btn btn-dark text-uppercase" [routerLink]="['/add-record']">Add record</button>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li *ngIf="isAuthenticated" class="nav-item">
                <app-shopping-cart></app-shopping-cart>
            </li>
            <li class="nav-item">
                <app-search></app-search>
            </li>
            <li *ngIf="authLoading" class="nav-item">
                <a class="spinner-border spinner-border-sm"></a>
            </li>
            <li *ngIf="!isAuthenticated && !authLoading" class="nav-item">
                <button class="btn btn-dark mt-auto text-uppercase" [routerLink]="['/auth']">Sign In</button>
            </li>
            <li *ngIf="isAuthenticated && !authLoading" class="nav-item">


                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-dark text-uppercase" id="dropdownBasic1" ngbDropdownToggle><i
                                class="fas fa-user"></i> {{currentEmail}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="text-uppercase" ngbDropdownItem [routerLink]="['/my-profile']">My
                                Profile</button>
                            <div class="dropdown-divider"></div>
                            <button class="text-uppercase" ngbDropdownItem (click)="signOut()">Sign Out</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>




<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Basic dropdown<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->