<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="btn btn-dark navbar-brand text-uppercase" [routerLink]="['/']">Simple Music Store</button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="isAuthenticated" class="nav-item">
                <button class="btn btn-dark text-uppercase" [routerLink]="['/add-record']">Add record</button>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li *ngIf="isAuthenticated" class="nav-item">
                <app-shopping-cart></app-shopping-cart>
            </li>
            <li class="nav-item">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search text-black"
                                aria-hidden="true"></i></span>
                    </div>
                    <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
                </div>
            </li>
            <li *ngIf="authLoading" class="nav-item">
                <a class="spinner-border spinner-border-sm"></a>
            </li>
            <li *ngIf="!isAuthenticated && !authLoading" class="nav-item">
                <button class="btn btn-dark mt-auto text-uppercase" [routerLink]="['/auth']">Sign In</button>
            </li>
            <li *ngIf="isAuthenticated && !authLoading" class="nav-item">


                <div class="col">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-dark text-uppercase" id="dropdownBasic1" ngbDropdownToggle><i
                                class="fas fa-user"></i> {{currentEmail}}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="text-uppercase" ngbDropdownItem [routerLink]="['/my-profile']">My
                                Profile</button>
                            <div class="dropdown-divider"></div>
                            <button class="text-uppercase" ngbDropdownItem (click)="signOut()">Sign Out</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>