<div ngbDropdown class="d-inline-block"> 
    <div [formGroup]="searchForm" class="input-group" id="dropdownBasic1" ngbDropdownToggle>
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search text-black" aria-hidden="true"></i></span>
        </div>
        <input class="form-control my-0 py-1 md-6" type="text" placeholder="Search" formControlName="searchTerm">
    </div>
    <div *ngIf="results.length>0" style="background-color: rgb(243, 243, 243, 1)" ngbDropdownMenu
        aria-labelledby="dropdownBasic1">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div *ngFor="let result of results; let i = index">
            <button ngbDropdownItem (click)="redirectToDetailsView(result)">
                <div class="row mx-auto align-items-center">
                    <img [src]="result.image" style="width: 25%" class="rounded">
                    <div class="col col-md-9 text-truncate">
                        <div class="font-weight-bold" [title]="result.name">
                            {{ (result.name.length>15)? (result.name | slice:0:15)+'..':(result.name) }}
                        </div>
                        <div class="font-italic text-truncate">
                            {{result.contentType}}
                        </div>
                    </div>
                </div>
            </button>
            <hr *ngIf="results.length > i + 1">
        </div>
    </div>
</div>