<p>COMMENTS {{comments.length}}</p>
<form [formGroup]="commentForm">
        <input class="form-control" [(ngModel)]="newComment.text" placeholder="Write a comment.."
                formControlName="_text" />
        <button class="btn btn-dark" (click)="onSubmit(newComment)">ADD</button>
</form>
<div *ngFor="let comment of comments">
        <div class="comment-box">
                <div class="comment" *ngIf="!comment.isEditMode"> {{comment.text}} </div>
                <div *ngIf="comment.isEditMode" class="editMode">
                        <input class="alert alert-secondary editMode" [(ngModel)]="commentToEdit.text" />
                        <button class="btn btn-link save" (click)="saveChanges()">SAVE</button>
                        <button class="btn btn-link cancel" (click)="quitEditMode(comment)">CANCEL</button>
                </div>
                <br>
                <p class="dateCreated">{{comment.dateView}}</p>
                <p class="Author">by {{comment.byUser}}</p>

                <div *ngIf="comment.isAuthor && !comment.isEditMode" class="btn-container">
                        <button type="button" class="btn btn-link edit" (click)="enableEditMode(comment)">EDIT</button>
                        <button type="button" class="btn btn-link delete"
                                (click)="deleteComment(comment.id)">DELETE</button>
                </div>
        </div>
</div>